<!DOCTYPE html>
<html lang="eng">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mars info</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

<body>
    <div class="container-fluid">
        <div class="jumbotron text-center">
            <h1>Mission to Mars</h1>
            <p>
                <a class="btn btn-primary btn-lg" href="/scrape" role="button">scrape new data</a>
            </p>
        </div>
        <!--latest mars news-->
        <div class="row .col-md-3">
            <div class="col-md-12">
                <div class="image">
                    <div class="media-body">
                        <h3><strong>Latest mars news</strong></h3>
                        <h4>{{ mars.news_title }}</h4>
                        <p>{{ mars.news_p }}</p>
                    </div>
                </div>
            </div>
        </div>
        <!--featured mars img-->
        <div class="row container">
            <div class="'col-xs-8">
                <h3><strong>Featured mars image</strong></h3>
                <img class="img-responsive" src="{{ mars.image_url | default('static/images/error.png', true)}}" alt="responsive image" />
            </div>
            <!--mars facts-->
            <div class="col-xs-4">
                <div class="row col-md-1">
                    <h3>Mars facts</h3>
                    <table class="table table-striped">{{ mars.mars_facts | safe}}</table>
                </div>
            </div>
        </div>
        <!--mars hemispheres-->
        <div class="row">
            <div class="page-header">
                <h3 class="text-center"><strong>Mars hemispheres</strong></h3>
            </div>
            {% for img in mars.hemisphere_image_urls %}
            <div class="col-md-6">
                <div class="thumnbnail">
                    <img src="{{img.url_1 | default('static/images/error.png', true)}}" alt="responsive image" class="img-responsive">
                    <div class="capition">
                        <h4>{{ img.title }}</h4>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>