<!DOCTYPE html>
<html lang="eng">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mars info</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

<body>
    <div class="container-fluid">
        <div class="jumbotron text-center">
            <h1>Mission to Mars</h1>
            <p>
                <a class="btn btn-primary btn-lg" href="/scrape" role="button">scrape new data</a>
            </p>
        </div>
        <!--latest mars news-->
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="page-header">
                        <h2 class="title"><strong>latest mars news</strong></h2>
                        <h3 class="heading"><strong> {{mars.news_title}} </strong></h3>
                        <p class="category">{{mars.news_p}}</p>
                    </div>
                </div>
            </div>
        </div>
        <!--featured mars img-->
        <div class="row">
            <div class="'col-md-6">
                <h2><strong>featured mars image</strong></h2>
                <img class="img-responsive" src="{{mars.featured}}" alt="featured mars image" />
            </div>
            <!--mars facts-->
            <h2><strong>mars facts</strong></h2>
            <div class="content table-responsive">
                <table class="table table-bordered table-inverse">
                    {% for info in mars.mars_facts %}
                    <tr>
                        {% for data in info %}
                        <td>{{data}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="center-block"><strong>mars hemispheres</strong></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="box">
                    <div class="content">
                        {% for img in range(0,4) %}
                        <img class="img-thumbnail" src="{{link}}" />
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>